
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>

        var update = function () {
            $("#appbundle_timesheet_type_0").is(":checked") ;
             var c1 = $('input[name=appbundle_timesheet[type]]:checked').val()
             var c2 = $("#appbundle_timesheet_type_1").is(":checked") ;
             var c3 = $("#appbundle_timesheet_type_2").is(":checked") ;


        if (c1 || c2 || c3) {

            $("#appbundle_timesheet_sheeets").attr("disabled", "disabled");
        }
        else {
            $("#appbundle_timesheet_sheeets").attr("disabled", false);
        }

    };

              $(update);

              $("#appbundle_timesheet_type").change(update);

</script>

<div id="calendarModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                <h4 id="modalTitle" class="modal-title"> Insérez :</h4>
            </div>
            <div id="modalBody" class="modal-body">

            {% render(controller('AppBundle:TimeSheet:new')) %}

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>